<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.escanerqrpani"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/panlo2_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".RegistrarOficina"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegistrarRegion"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegistroUsuarios"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".enviarCorreo"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity4"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InfoPopup"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity3"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.escanerqrpani"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>